.home-container {
  height: 100%;
  align-items: center;
}
.intro {
  padding-left: 24px;
}
.intro__title {
  position: relative;
  z-index: 2;
  margin: 35px 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Bebas Neue Bold';
  font-size: 60px;
  font-weight: 300;
  line-height: .86em;
  letter-spacing: 1px;
  color: #1c1c1c;
}
.intro__title::before {
  position: absolute;
  top: -56px;
  left: -26px;
  z-index: -1;
  display: block;
  width: 360px;
  height: 86px;
  content: 'about me';
  font-family: 'Bebas Neue Bold';
  font-size: 120px;
  font-weight: 300;
  line-height: 0.8em;
  letter-spacing: -0.03em;
  color: #eaeaea;
}
@media (max-width: 576px) {
  .intro {
    padding-left: 0;
  }
  .intro__title {
    margin: 35px 0 30px;
    font-size: 48px;
    line-height: .8em;
  }
  .intro__title::before {
    left: -14px;
    font-size: 80px;
  }
}
.divider {
  display: block;
  width: 40px;
  margin-top: 24px;
  border-bottom: 3px solid #DD1F3A;
}
.intro__work {
  font-size: 12px;
  line-height: 20px;
  color: #999;
}

.info__title {
  position: relative;
  z-index: 2;
  margin: 35px 0 30px 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Bebas Neue Bold';
  font-size: 24px;
  font-weight: 300;
  line-height: 0.8em;
  letter-spacing: 1px;
  color: #1c1c1c;
}
.info__title::before {
  position: absolute;
  top: -12px;
  left: -16px;
  z-index: -1;
  display: block;
  width: 80px;
  height: 24px;
  content: '';
  background-color: #FFD965;
}
.info__desc {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #999;
}
.info__link {
  color: #999;
}
.oss__link {
  display: block;
  padding: 16px;
  margin-bottom: 32px;
  font-size: 12px;
  text-align: center;
}
