.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerbar__avatar {
  padding: 16px;
  text-align: center;
}
.headerbar__avatar img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.headerbar__name {
  font-size: 18px;
  font-weight: 800;
  color: #1d1d1e;
}
.headerbar__name:hover {
  color: #1d1d1e;
}
.headerbar__nav-item {
  margin: 0 8px;
}
.headerbar__nav-item:first-child {
  margin-left: 0;
}
.headerbar__nav-item:last-child {
  margin-right: 0;
}

@media (max-width: 576px) {
  .headerbar {
    display: block;
  }

  .headerbar__name {
    display: block;
    font-size: 22px;
    text-align: center;
  }

  .headerbar__nav {
    padding: 16px 0 48px;
    text-align: center;
  }
}
