footer {
  display: flex;
  padding: 100px 25px 40px;
}
.footer__list {
  margin-right: 25px;
  font-size: 14px;
}
.footer__title {
  font-weight: 400;
  color: #fff;
}
.footer__list li {
  line-height: 18px;
  font-size: 12px;
}
.footer__list a {
  color: #333;
}
